
<table style="text-align:center"><caption><strong>Estadísticas Descriptivas</strong></caption>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Statistic</td><td>N</td><td>Mean</td><td>St. Dev.</td><td>Min</td><td>Max</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Directorio</td><td>22,640</td><td>4,656,436.00</td><td>82,372.73</td><td>4,514,331</td><td>4,804,455</td></tr>
<tr><td style="text-align:left">Secuencia-p</td><td>22,640</td><td>1.01</td><td>0.13</td><td>1</td><td>4</td></tr>
<tr><td style="text-align:left">Orden</td><td>22,640</td><td>1.97</td><td>1.22</td><td>1</td><td>12</td></tr>
<tr><td style="text-align:left">Clase</td><td>22,640</td><td>1.00</td><td>0.00</td><td>1</td><td>1</td></tr>
<tr><td style="text-align:left">Dominio</td><td>22,640</td><td>6.44</td><td>3.39</td><td>1</td><td>12</td></tr>
<tr><td style="text-align:left">Mes</td><td>22,640</td><td>2.59</td><td>1.02</td><td>1</td><td>6</td></tr>
<tr><td style="text-align:left">Estrato1</td><td>22,640</td><td>0.47</td><td>0.50</td><td>0</td><td>1</td></tr>
<tr><td style="text-align:left">Sexo</td><td>22,640</td><td>43.03</td><td>17.37</td><td>18</td><td>106</td></tr>
<tr><td style="text-align:left">Edad</td><td>9,892</td><td>8,822.23</td><td>12,886.16</td><td>326.67</td><td>350,583.30</td></tr>
<tr><td style="text-align:left">Ingresos laborales Hora</td><td>9,892</td><td>1,745,416.00</td><td>2,403,441.00</td><td>20,000.00</td><td>60,100,000.00</td></tr>
<tr><td style="text-align:left">Ingresos laborales Mensual</td><td>14,764</td><td>1,617,551.00</td><td>2,431,319.00</td><td>84.00</td><td>70,000,000.00</td></tr>
<tr><td style="text-align:left">Ingreso total Mensual</td><td>14,764</td><td>8,541.87</td><td>13,866.13</td><td>0.47</td><td>350,583.30</td></tr>
<tr><td style="text-align:left">Ingreso total Hora</td><td>22,640</td><td>0.29</td><td>0.46</td><td>0</td><td>1</td></tr>
<tr><td style="text-align:left">College</td><td>22,640</td><td>11.00</td><td>0.00</td><td>11</td><td>11</td></tr>
<tr><td style="text-align:left">Depto</td><td>22,640</td><td>0.00</td><td>0.00</td><td>0</td><td>0</td></tr>
<tr><td style="text-align:left">Empleado</td><td>16,542</td><td>0.59</td><td>0.49</td><td>0</td><td>1</td></tr>
<tr><td style="text-align:left">Formal</td><td>22,638</td><td>5.77</td><td>1.39</td><td>1</td><td>7</td></tr>
<tr><td style="text-align:left">Educación máxima</td><td>22,640</td><td>2.25</td><td>1.74</td><td>1</td><td>9</td></tr>
<tr><td style="text-align:left">Parentesco Jefe Hogar</td><td>16,542</td><td>63.76</td><td>89.49</td><td>0</td><td>720</td></tr>
<tr><td style="text-align:left">Tiempo trabajando</td><td>20,874</td><td>1.38</td><td>0.76</td><td>1</td><td>3</td></tr>
<tr><td style="text-align:left">Seguridad Salud</td><td>16,542</td><td>3.15</td><td>1.65</td><td>1</td><td>5</td></tr>
<tr><td style="text-align:left">Tamaño Firma</td><td>16,542</td><td>47.40</td><td>15.66</td><td>1</td><td>130</td></tr>
<tr><td style="text-align:left">Total horas trabajadas</td><td>16,542</td><td>0.45</td><td>0.50</td><td>0</td><td>1</td></tr>
<tr><td style="text-align:left">Micro Empresa</td><td>22,640</td><td>247.28</td><td>58.48</td><td>107</td><td>808</td></tr>
<tr><td style="text-align:left">Pesos frecuencia</td><td>10,553</td><td>1.99</td><td>0.18</td><td>1</td><td>9</td></tr>
<tr><td style="text-align:left">Otros ingresos</td><td>16,542</td><td>1.45</td><td>0.54</td><td>1</td><td>3</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr></table>
