
<table style="text-align:center"><tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="1" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td>Logaritmo de salario por hora</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Edad</td><td>0.067<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.004)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">Edad Cuadrada</td><td>-0.001<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.00004)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>7.374<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.068)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>9,892</td></tr>
<tr><td style="text-align:left">R<sup>2</sup></td><td>0.044</td></tr>
<tr><td style="text-align:left">Adjusted R<sup>2</sup></td><td>0.044</td></tr>
<tr><td style="text-align:left">Residual Std. Error</td><td>0.711 (df = 9889)</td></tr>
<tr><td style="text-align:left">F Statistic</td><td>228.437<sup>***</sup> (df = 2; 9889)</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
